/*Color scheme*/

:root {
  --workbench-bg: #faf9f9;

  --sidebar-bg: #333641;
  --sidebar-fg: #222;

  --sidebar-title-bg: #343742;
  --sidebar-title-fg: #FFF;

  --sidebar-submenu-bg: #4c5c68;
  --sidebar-submenu-fg: #dcdcdd;
}
